/*
 GL Styles
*/
* {
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 16px;
}

/* Header */
header {
	background-color: #3d959e;
	margin: 0px 0px 10px 0px;
}

header h1 {
	font-size: 1.5em;
	color: #fff;
	margin: 0px;
	padding: 5px;
}

/* Body */


/* Footer */
footer {
	margin: 10px 0px 0px 0px;
	padding: 10px 10px;
	border-top: 2px solid #3d959e;
}
footer p {
	font-size: 0.8em;
	float: right;
	margin: 0px;
}
footer #logo {
	float: left;
	background-image: url(../img/logo-gl.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 40px;
}